.buy {
  background: var(---black-color);
}
.buy__inner {
  max-width: 1920px;
  margin: 0 auto;
  @extend %flex---item;
  overflow: hidden;
}
.buy__inner-image {
  width: 944px;
  height: 710px;
  background: url(../image/backround/buy.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.buy__inner-main {
  max-width: 500px;
  margin-left: 32px;
  padding: 70px 0;
}
.buy__inner-title {
  @include title;
  color: var(---white-color);
}
.buy__inner-set {
  margin: 25px 0 70px;
}
.buy__inner-subtitle {
  color: var(---blue-color);
  font-weight: 700;
  font-size: 24px;
}
.buy__inner-list {
  margin-top: 15px;
}
.buy__inner-item {
  @extend %flex---item;
  & span {
    color: var(---white-color);
    margin-left: 10px;
    font-weight: 400;
    font-size: 18px;
  }
  &:nth-child(2) {
    margin: 15px 0;
  }
}
.buy__inner-gallery {
  margin-top: 25px;
  max-width: 300px;
}
.buy__inner-top {
  @extend %flex---between;
}
.buy__inner-bot {
  margin-top: 50px;
  @extend %flex---between;
}
