
@font-face {
  font-family: 'Archangelsk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Archangelsk.woff2) format('woff2'),
       url(../fonts/Archangelsk.woff) format('woff');
}

:root {
  ---global-color: #F8F200;
  ---white-color: #FFF;
  ---gray-color: #777;
  ---black-color: #000;
  ---blue-color: #52BEDC;
  ---arhang-font: 'Archangelsk';
}

// ABSTRACTS
@import '../scss/abstracts/normalize';
@import '../scss/abstracts/mixin';
@import '../scss/abstracts/templates';

// LAYOUT
@import '../scss/layout/header';
@import '../scss/layout/nightsity';
@import '../scss/layout/play';
@import '../scss/layout/monitorhp';
@import '../scss/layout/buy';
@import '../scss/layout/footer';


@import '../scss/abstracts/media';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  min-height: 100%;
}
.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}