@media (max-width: 730px) {
  .header__inner-top {flex-direction: column;}
  .header__innner-social {margin-top: 10px;}
  .header__inner-container.container {padding: 0;}
}
@media (max-width: 624px) {
  .header__inner-access {padding: 30px 12px;}
}
@media (max-width: 510px) {
  .header__inner-access {width: 100%; text-align: center;}
  .header__inner-title {font-size: 30px; max-width: 295px; margin: 0 auto;}
}
@media (max-width: 450px) {
  .header___inner-messenge {margin-right: 30px;}
  .header___inner-messenge:last-child {margin-right: 0;}
}
@media (max-width: 400px) {
  .header___inner-messenge {margin-right: 15px;}
  .header___inner-messenge:last-child {margin-right: 0;}
}



@media (max-width: 1310px) {
  .nightsity__inner-gallery {
    grid-template-columns: repeat(2, 460px);
    grid-template-rows: 196px 424px;
    gap: 32px;
  }
  .item---one { grid-area: 1 / 1 / 2 / 2; }
  .item---two { grid-area: 1 / 2 / 2 / 3; }
  .item---three { 
    grid-area: 2 / 1 / 3 / 3; 
    & img {width: 100%; height: 424px;}
  }
}
@media (max-width: 982px) {
  .nightsity__inner.container {padding: 0;}
  .nightsity__inner-top {padding: 0 12px;}
  .nightsity__inner-gallery {display: flex; flex-direction: column;}
  .nightsity__inner-image {max-width: 100%; overflow: hidden; & img {width: 100%;}}
  .item---three { height: 424px;
    & img {object-fit: cover;}}
  .nightsity__inner-title {font-size: clamp(30px, 5vw, 62px);}
  .nightsity__inner-description {font-size: clamp(16px, 5vw, 18px);}
}


@media (max-width: 1150px) {
  .play__inner-body {display: flex; justify-content: space-between; align-items: start;}
  .play__inner-form {margin-right: 15px;}
  .play__inner-console{text-align: right; max-width: 300px; & img:first-child {margin-right: 0;}}
}
@media (max-width: 982px) {
  .play__inner-title {font-size: clamp(30px, 5vw, 62px);}
  .play__inner-description {font-size: clamp(16px, 5vw, 18px);}
}
@media (max-width: 750px) {
  .play__inner-body {flex-direction: column;}
  .play__inner-console {display: flex; justify-content: space-between; max-width: 100%;}
  .play__inner-form {order: 2;}
  .play__inner-form {margin-right: 0; width: 100%; margin-top: 25px;}
}
@media (max-width: 610px) {
  .play__inner-console {& img {width: 190px;} & img:first-child {margin-right: 30px;}}
}
@media (max-width: 500px) {
  .play__inner-title {margin: 25px 0;}
  .play__inner-top {flex-direction: column; justify-content: start; align-items: start;}
}
@media (max-width: 450px) {
  .play__inner-console {& img {width: 145px;} & img:first-child {margin-right: 0px;}}
}


@media (max-width: 1060px) {
  .monitorhp__inner {flex-direction: column;}
  .monitorhp__inner-content {margin: 25px 0 0;}
}
@media (max-width: 982px) {
  .monitorhp__inner-title {font-size: clamp(30px, 5vw, 62px);}
  .monitorhp__inner-description {font-size: clamp(16px, 5vw, 18px);}
  .monitorhp__inner-bot {padding: 26px 0 0;}
}
@media (max-width: 650px) {
  .monitorhp__inner-wrapper {text-align: center; margin-right: auto; width: 100%;}
  .monitorhp__inner-wrap {width: 400px;}
}
@media (max-width: 530px) {
  .monitorhp__inner-bot {display: flex; justify-content: space-between;}
  .image---one{width: 80px;}
  .image---two {display: none;}
  .image---three {width: 200px;}
}
@media (max-width: 450px) {
  .monitorhp__inner-wrap {width: 290px;}
  .image---one {display: none;}
  .image---three {margin: 0 auto;}
}



@media (max-width: 1060px) {
  .buy__inner {flex-direction: column;}
  .buy__inner-image {width: 100%; height: 400px;}
  .buy__inner-title {font-size: clamp(30px, 5vw, 62px);}
  .buy__inner-subtitle {font-size: 18px;}
  .buy__inner-main {margin: 0; padding: 50px 15px;}
}


@media (max-width: 900px) {
  .footer__top-logo {padding: 25px 0;}
  .footer__top-inner {flex-direction: column;}
  .footer__top-inner.container {padding: 0;}
  .footer__top-list {padding: 20px 0; background: #E6E6E6; width: 100%; display: flex; justify-content: center;}
  .footer__top {padding: 0;}
}
@media (max-width: 530px) {
  .footer__top-logo {flex-direction: column; & img:first-child {margin-right: 0;} padding: 40px 0;}
}
@media (max-width: 410px) {
  .footer__top-list {flex-direction: column; text-align: center; padding: 25px 0;}
  .footer__top-item:last-child {margin-top: 15px;}
}