%flex---def {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
%flex---itcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
%flex---center {
  display: flex;
  justify-content: center;
}
%flex---item {
  display: flex;
  align-items: center;
}
%flex---between {
  display: flex;
  justify-content: space-between;
}
%flex---column {
  display: flex;
  flex-direction: column;
}

/// GRID 
%grid---center {
  display: grid;
  place-items: center;
}